http:
  routers:
    frontend:
      rule: "PathPrefix(`/`)"
      service: frontend
      entrypoints:
        - web
      priority: 10
    admin:
      rule: "PathPrefix(`/admin`)"
      service: backend
      entrypoints:
        - web
      priority: 20
    static:
      rule: "PathPrefix(`/static`)"
      service: backend
      entrypoints:
        - web
      priority: 20
    api:
      rule: "PathPrefix(`/api`)"
      service: backend
      entrypoints:
        - web
      priority: 20
  services:
    frontend:
      loadBalancer:
        servers:
          - url: "http://frontend:5173"
    backend:
      loadBalancer:
        servers:
          - url: "${BACKEND_URL}"