.result_menu {
    width: 40%;
    margin-left: 30%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    border-radius: 0.45rem
}

.result_emoji {
    scale: 4.5;
    width: 50px;
    margin-top: 6%;
    margin-left: 50%
}

.result_title {
    font-size: 40px;
    margin-bottom: 0
}

.result_undertext {
    margin-top: 1%;
    font-size: 18px;
    opacity: 70%;
    margin-bottom: 3%
}

.reason_message {
    width: 87%;
    margin-left: 5%;
    height: 190px;
    border-radius: 0.375rem;
    border: 2px solid rgb(187, 151, 33);
    background-color: rgb(255, 239, 187);
    font-size: 18px;
    text-align: left;
    color: rgb(83, 62, 16);
    margin-bottom: 3%;
    padding-left: 3%
}

.reason_head {
    color: rgb(71, 53, 11);
    text-align: center;
    font-size: 22px;
    margin-bottom: 2%;
    margin-top: 2%
}

.reason {
    margin-bottom: 1%;
    font-size: 20px
}

.undertext {
    font-size: 18px;
    opacity: 80%
}

.exit_button {
    margin-top: 3%;
    width: 25%;
    height: 50px;
    border: 2px solid rgb(58, 88, 255);
    border-radius: 0.375rem;
    background-color: rgb(58, 88, 255);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%
}

.exit_button:hover {
    border: 2px solid rgb(35, 68, 255);
    background-color: rgb(35, 68, 255);
}

.exit_link {
    color: white;
    font-size: 18px;
    text-decoration: none
}

@media (min-height: 700px) and (max-height: 1000px) {
    .result_menu {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .result_emoji {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    .result_menu {
        margin-top: 5%;
        width: 110%;
        margin-left: -5%;
        padding-bottom: 7%
    }
    .result_emoji {
        margin-top: 10%;
        scale: 4;
        margin-left: 43%;
    }
    .exit_button {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .reason {
        font-size: 18px
    }
    .undertext {
        font-size: 16px
    }
}


@media (max-width: 1000px) and (orientation: landscape) {
    .result_menu {
        margin-top: 5%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 2fr 1fr;
    }
    .result_emoji {
        margin-left: 45%
    }
}