.pvp_menu {
    width: 40%;
    margin-left: 30%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    border-radius: 0.45rem
}

.subjects_container {
    margin-top: 2%;
    width: 90%;
    display: grid;
    margin-left: 5%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px
}


.subject_name {
  font-size: 22px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


.pvp_subject {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left:5%;
    border-radius: 0.375rem;
    border: 2px solid rgb(219, 219, 219);
}


.find_button {
    border-radius: 0.4rem;
    background-color: rgb(65, 65, 255);
    border: 0;
    color: white;
    font-size: 16px;
    width: 25%;
    height: 45px;
    margin-top: 3%;
    margin-left: 37%
}

.find_button:disabled {
     background-color: rgb(131, 131, 255);
}

.find_button:hover {
    background-color: rgb(43, 43, 172);
}

.find_button:disabled:hover {
    background-color: rgb(119, 119, 231);
}

.active_subject {
    background-color: rgb(222, 222, 255);
    border: 2px solid rgb(62, 66, 255);
}

@media (min-height: 700px) and (max-height: 1000px) {
    .pvp_menu {
        width: 55%;
        margin-left: auto;
        margin-right: auto
    }
    .subjects_container {
        margin-left: 5
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    .pvp_menu {
        margin-top: 5%;
        width: 110%;
        margin-left: -5%;
    }
    .subjects_container {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px
    }
    .find_button {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    .pvp_menu {
        margin-top: 5%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}