.subjects {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    width: 100%;
    gap: 30px;
    padding-bottom: 2%;
}

.more_subjects {
    text-align: center;
    margin-top: 1%; 
    opacity: 70%
}

@media (min-height: 700px) and (max-height: 1000px) {
    .subjects {
        grid-template-columns: repeat(3, 30%);
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    .subjects {
        grid-template-columns: repeat(1, 100%);
    }
    .more_subjects {
        margin-top: 10%
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    .subjects {
        grid-template-columns: repeat(2, 100%);
    }
    .more_subjects {
        margin-top: 3%
    }
}