.back_to_subjects {
    text-decoration: none;
    color: rgb(57, 57, 255);
}

.tasks {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    width: 100%;
    gap: 30px;
    margin-top: 1%;
}

.more_tasks {
    text-align: center;
    margin-top: 1%; 
    opacity: 70%
}

@media (min-height: 700px) and (max-height: 1000px) {
    .tasks {
    grid-template-columns: repeat(3, 30%);
}
}

@media (max-width: 768px) and (orientation: portrait) {
    .tasks {
        gap: 10px;
        margin-top: 3%;
        grid-template-columns: repeat(1, 100%);
    }
    .more_tasks {
        margin-top: 10%
    }
}


@media (max-width: 1000px) and (orientation: landscape) {
    .tasks {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 2%;
    }
    .more_subjects {
        margin-top: 3%
    }
}