.match_status {
    height: 250px;
    background-color: white;
    border-radius: 0.4rem;
}

.line_container {
    width: 94%;
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%
}

.match_left_text {
    opacity: 70%;
    font-size: 18px
}

.match_right_text {
    font-weight: 130%;
    font-size: 18px
}


@media (max-width: 1000px) and (orientation: landscape) {
    .match_left_text {
        font-size: 16px
    }
}