.task {
    text-decoration: none;
    height: 125px;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 8px rgba(0,0,0,0.1);
    color: black;
}

.task_logo {
    width: 7%;
    color: rgb(98, 140, 255)
}

.line_container {
    width:95%;
    margin-top: 1.5%;
    margin-left:5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
}

.task_name {
    margin-left: 5%;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline;
    overflow: hidden;
    word-break: break-all;
}

.task_underline {
    margin-left: 5%;
    margin-top: -0.5%;
    opacity: 70%;
}

.task:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    transition: box-shadow 0.5s ease;
}

.text_line_container {
    display: flex;
    justify-content: space-between;
    padding-right: 3%
}