.login {
    width: 20%;
    height: 35%;
    background-color: white;
    border-radius: 0.375rem;
    position: relative;
    top: 25%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    min-height: fit-content;
}

.input {
    border: 2px solid rgb(179, 179, 179);
    border-radius: 0.375rem;
    padding-left: 2%;
    width: 84%;
    height: 10%
}

.title {
    margin-top: 0;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    padding-top: 5%
}

.input_text {
    text-align: start;
    margin-left: 7%;
    margin-bottom: 2%;
    padding-top: 4%
}

.login_button {
    width: 87%;
    height: 10%;
    margin-top: 6%;
    color: white;
    border-radius: 0.375rem;
    background-color: rgb(65, 65, 255);
    border: 2px solid rgb(68, 65, 255);
    font-size: 16px
}

.link {
    display: block;
    text-decoration: none;
    margin-top: 4%
}

.error_message {
    align-items: center;
    padding-top: 3%;
    color: red
}

.login_button:hover {
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}


@media (min-height: 700px) and (max-height: 1000px) {
    .login {
        width: 35%;
        margin-left: auto;
        margin-right: auto;
        height: 70%;
        top: 15%;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    .login {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 55%;
    }
    .title {
        margin-bottom: 1%
    }
    .login_button {
        margin-top: 6%
    }
    .link {
        display: block;
        text-decoration: none;
        margin-top: 6%;
        padding-bottom: 2%;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    .login {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        height: 90%;
        top: 5%
    }
    .input {
        height: 12%
    }
    .input_text {
        padding-top: 2%
    }
    .login_button {
        height: 12%;
    }
    .title {
        margin-bottom: 0%
    }
}